.container{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	margin-top: 20px;
	list-style: none;
	justify-content:center;
}


.photo{
	margin-top: 5px;
	grid-column: 3/4;
}

.name{
	grid-column: 3/4;
}
.line{
	grid-column: 1/5
}